* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Italianno&family=Playfair+Display&display=swap");
:root {
  --clr-main-100: #E6F4F1;
  --clr-main-400: #cbe0e9;
  --clr-main-800: #344A53;
  --clr-accent-400: #934467;
  --font-title: 'Fjalla One', sans-serif;
  --font-under-title: 'Italianno', cursive;
  --font-regular: 'Playfair Display', serif;
}

body {
  position: relative;
}

.main {
    min-height: 100vh;
    line-height: 1.5;
}

/* header --------------------------------- */
.header {
    position: fixed;
    display: flex;
    width: 100%;
    /* height: 60px; */
    justify-content: space-between;
    align-items: center;
    padding: .7em 1.5em;
    z-index: 99;
    background: var(--clr-accent-400);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
} 

.menu-small {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  font-family: var(--font-title);
  text-transform: uppercase;
  color: var(--clr-main-100);
  background: transparent;
  visibility: hidden;
}

.menu-small:hover {
  color: var(--clr-main-400);
}

.menu {
  position: fixed;
  display: flex;
  gap: 1em;
  width: 100%;
  visibility: visible;
  margin-left: 2.5rem;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  top: 60px;
  left: 0;
  background: var(--clr-accent-400);
  color: var(--clr-main-800);
  
}

.navbar-item {
    text-decoration: none;
    color: var(--clr-main-100);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-title);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.navbar-item:hover {
    color: var(--clr-main-400);
    
}

.social-icons {
    display: flex;
    gap: .5em; 
    font-size: 1.2em; 
}

.social-icons a {
  color: var(--clr-main-100);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.social-icon:hover {
    color: var(--clr-main-400);
}

/* hero -------------------------- */

.banner {
  padding-top: 60px;
}

.logo {
    position: absolute;
    top: 10vw;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
    /* background: rgba(250,250,250, .6); */
    z-index: 9;
    align-items: center;
    padding: 1em 1.5em;
  }
  
.logo h1 {
    font-size: 4rem;
    font-family: var(--font-title);
    text-transform: uppercase;
    color: var(--clr-main-100);
    line-height: 1;
    font-weight: 900;
    margin: 0;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  }
  
 .logo h3 {
    font-family: var(--font-regular);
    font-size: 1rem;
    color: var(--clr-main800);
    margin-bottom: 2em;
    padding: .5em 1em;
    font-weight: 900;
    background:#934467;
    color: var(--clr-main-100)
  }
  
  .goto-banner {
    height: auto;
    padding: .5em .2em;
    background-color: rgb(147, 68, 103, .7);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-right-radius: 20px;
    font-family: var(--font-title);
    padding-right: 1em;
    text-transform: uppercase;
    color: var(--clr-main-100);
    gap: 1em;
  }

  .arrow {
    font-size: 30px;
  }
  
  .link:hover {
    color: var(--clr-main-400);
  }


  /* Main content ---------------- */

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    min-width: 70ch;
    padding: 5em 2em;
}

.main-title {
    margin-top: 2em;
}

.main-description {
    color: var(--clr-accent-400);
    font-style: italic;
    font-size: 1.2em;
    max-width: 80ch;
    margin-block: 2em;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 1px solid grey;
    padding: 1em;
    font-size: .8em;
    background: var(--clr-main-400);
}

.card__title {
    padding-top: 1em;
    color: var(--clr-accent-400);
    text-transform: uppercase;
}

.card__link {
    color: var(--clr-accent-400);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    align-self: flex-end;
}

.nieuws-item {
  border-bottom: 2px solid var(--clr-accent-400);
  margin-bottom: 1em;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
}

.nieuws-foto {
  margin-top: .5em;
  max-width: 100%;
  width: 200px;
  object-fit: cover;
}

.nieuws-link {
  font-family: --font-under-title;
  color: var(--clr-accent-400);
  font-weight: bold;
  padding-top: .5em;
}

/*  contact ---------------------------- */

.contact-formulier {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: .6em;
  margin: 2rem 0;
}

.input {
  padding: .5em .8em;
  outline: none;
  border: 1px solid var(--clr-accent-400);
  border-radius: 5px;
}

.contact-btn {
  background: var(--clr-accent-400);
  color: var(--clr-main-100);
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  padding: .5em .8em;
  cursor: pointer;
  border-radius: 5px;
}

/*  footer  ----------------- */
.footer {
    position: relative;
    height: 30px;
    margin-top: -30px;
    background: var(--clr-accent-400);
    color: white;
    font-size: .7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

/*  Media queries */

@media only screen and (max-width: 900px) {
  .main-content {
    min-width: 100px;
    padding: 3em 2em;
  }

  .card-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
  }

  .menu-small {
    visibility: visible;
  }

  .menu {
    visibility: hidden;
  }
}

@media only screen and (max-width: 450px) {
  .main-content {
    min-width: 100px;
    padding: 2em 1em;
  }

  .card-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1em;
  }

  .header {
    align-items: start;
  
  }

  .navbar-item {
    font-size: 1.2em;
    
  }

}